[user]
	name = Ben Lee
	email = ben@ben.cm
[github]
    user = bencodes
[push]
	default = simple
[pull]
    rebase = true
[rerere]
    enabled = true
[rebase]
    autostash = true
[core]
    excludesfile = ~/.gitignore_global
